.container-demandas {
    display: flex;

    flex-direction: column;

    width: 100%;
    height: 100%;

    padding: 6% 0%;
};

.header-demandas {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;

    h2{
        font-weight: 500;
        font-size: 1.2vmax;
        color: #EBEBEB;
    }
    span {
        font-weight: 400;
        font-size: .8vmax;

        color: #949090;
    };

    div{
        display: flex;
        justify-content: space-between;
        gap: 1vmax;
    }

    .button-demandas{
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: .3vmax;
        border: 1px solid #949090;
        padding: .2vmax .8vmax;
        border-radius: 5px;

        svg,span {
            transition: .3s .8s;
        }
    }

    .button-demandas::before{
        display: flex;
        align-items: center;
        justify-content: center;
        color: transparent;
        content: 'Atualizar!';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgb(2, 154, 255);
        transform: translateX(-100%);
        transition: transform .8s ease, color .2s ease .8s;
    }
    
    .button-demandas:hover:before{
        transform: translateX(0%);
        color: #fff;
    }

    .button-demandas:hover {
        span{
            color: transparent;
        }
        svg{
            fill: transparent;
        }
    }

    .button-demandas:active {
        transform: scale(0.9);
    }

    svg{
        fill: #949090;
    }
};

.content-demandas {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;

    overflow-y: scroll;

    border-radius: .2vmax;

    text-align: left;
    padding: .3vmax;

    thead{
        position: static;
    }

    tr {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 1.8vmax;
    };

    th, td {
        padding: 0vmax .8vmax;
    };

    tr > th {
        border-right: .15vmax solid #3f3f3f38;
    };
    tr > th:last-child {
        border-right: 0vmax;
    };

    th {
        height: 60%;
        text-align: center;
        font-weight: 500;
        font-size: .75vmax;

        color: #999999;
    };
    td {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-weight: 500;
        font-size: .7vmax;

        color: #686868;
    }

    th:nth-child(1),
    td:nth-child(1) {
        width: 12vmax;
    };
    th:nth-child(2),
    td:nth-child(2) {
        width: 10vmax;
    };
    th:nth-child(3),
    td:nth-child(3) {
        width: 5vmax;
    };
    th:nth-child(4),
    td:nth-child(4) {
        width: 12vmax;
    };
    th:nth-child(5),
    td:nth-child(5) {
        width: 10vmax;
    };
    th:nth-child(6),
    td:nth-child(6) {
        width: 10vmax;
    };
    th:nth-child(7),
    td:nth-child(7) {
        width: 15vmax;
    };
    th:nth-child(8),
    td:nth-child(8) {
        width: 15vmax;
    };

    tr:nth-child(odd) {
        background-color: #00000020;
    };
    tr:nth-child(even) {
        background-color: #00000010;
    };
}